* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #ffe4f2, #ffd1ec);
  text-align: center;
  height: 100vh;
}

#startScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#startBtn {
  font-size: 1.5rem;
  padding: 12px 24px;
  border: none;
  background-color: #ff80c0;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px #c75b9f;
}
#startBtn:active {
  box-shadow: none;
  transform: translateY(2px);
}

canvas {
  display: none;
  margin: 0 auto;
  border: 2px solid #ffb5da;
  background-color: #fff0f8;
}
